<section class="page" id="help_page">
  <section class="panel">
    <div class="panel-header">
      <div class="panel-title">Справка</div>
      <div class="panel-meta">Как пользоваться интерфейсом</div>
    </div>
    <div class="panel-body">
      <div class="message-box">
1. На вкладке "Полетные данные" постройте маршрут на карте и нажмите "Отправить".
2. После создания миссии появится этап назначения: укажите ID дрона и нажмите "Назначить".
3. Затем нажмите "Запустить".
4. После старта используйте внешний интерфейс для отслеживания полета или кнопку "Начать Сначала".
5. На вкладке "Схемы" можно открыть архитектурные изображения GCS.
      </div>
    </div>
  </section>
</section>
